.intro {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
}

.text {
  margin-left: 1.5rem;
  align-self: center;
  color: var(--text);
}

.logo img {
  width: 250px;
  height: 250px;
}

.company {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.role {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.description {
  font-size: 0.938rem;
  padding-bottom: 2.5rem;
}

.color_change {
  margin-left: 1rem;
}
